In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LogisticRegression
import sklearn.ensemble as ske
from sklearn import datasets, svm, cross_validation, tree, preprocessing
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
import matplotlib as plt
%matplotlib inline

In [12]:
train = pd.read_csv("train.csv")
print(train.count())
train.head()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
genders = {"male": 1, "female": 0}
train["SexF"] = train["Sex"].apply(lambda s: genders.get(s))

In [13]:
# Create a 2 by 3 matrix of zeroes
median_ages_train = np.zeros((2,3))

In [18]:
for i in range(0,2):
    for j in range(0,3):
        median_ages_train[i,j] = train[(train['SexF'] == i) & (train['Pclass'] == j+1)]['Age'].dropna().median()
        
median_ages_train

array([[ 35. ,  28. ,  21.5],
       [ 40. ,  30. ,  25. ]])

In [20]:
train['AgeFill'] = train['Age']
train[train['Age'].isnull()][['Age', 'AgeFill', 'SexF', 'Pclass']].head(10)
 
for i in range(0, 2):
    for j in range(0, 3):
        train.loc[(train.Age.isnull()) & (train.SexF == i) & (train.Pclass == j+1),'AgeFill'] = median_ages[i,j]

In [24]:
train_new = train.drop(['Cabin','Name','Ticket','Sex','Embarked','Age'], axis=1)
train_new = train_new.dropna(axis=0, how='any')
train_new.count()

PassengerId    891
Survived       891
Pclass         891
SibSp          891
Parch          891
Fare           891
SexF           891
AgeFill        891
dtype: int64

In [5]:
test = pd.read_csv("test.csv")
test.head()
test.count()

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64